# Created by https://www.toptal.com/developers/gitignore/api/racket
# Edit at https://www.toptal.com/developers/gitignore?templates=racket

### Racket ###
# gitignore template for the Racket language
# website: http://www.racket-lang.org/

# DrRacket autosave files
*.rkt~
*.rkt.bak
\#*.rkt#
\#*.rkt#*#

# Compiled racket bytecode
compiled/
*.zo

# Dependency tracking files
*.dep

blockchain.data

# End of https://www.toptal.com/developers/gitignore/api/racket